.app-bar {
  width: 66px;
  height: calc(100vh - 56px);
  padding: 8px;
  transition: var(--transition);
  background: var(--background);
}
#app-bar {
  position: sticky;
  top: 56px;
  height: 56px;
  z-index: 9;
}
.app-bar-btn {
  border-radius: var(--radius);
  cursor: pointer;
  margin: 8px auto 16px;
  width: 100%;
  height: 40px;
  display: grid;
  place-items: center;
  padding: 0;
  background: #1d1d20;
}
.app-bar-btn i,
.rewards i {
  font-size: 16px;
}
.app-bar-btn span,
.rewards span {
  display: none;
}

.home-btn,
.gamedom-btn {
  background: var(--yellow);
  color: #000;
}
.discord-btn {
  background: #687afa;
}
.rewards {
  background: #1d1d20;
  border-radius: var(--radius);
  overflow: hidden;
  height: 200px;
  transition: var(--transition);
}
.rewards.hide {
  height: 40px !important;
}
.rewards li a,
.rewards li:nth-child(1) {
  width: 100%;
  height: 40px;
  display: grid;
  place-items: center;
  transition: var(--transition);
}
.rewards li:nth-child(1) {
  color: #fff;
  display: none;
  cursor: pointer;
}
.rewards li a:hover,
.rewards li:nth-child(1):hover {
  background: #ffffff1a;
}
.contact-btn {
  transition: var(--transition);
}
.contact-btn:hover {
  background: #ffffff1a;
}

/*  */
.app-bar.active {
  width: 280px;
}
.app-bar.active .app-bar-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  padding: 16px;
}
.app-bar.active .app-bar-btn span,
.app-bar.active .rewards span {
  display: block;
}
.app-bar.active .rewards {
  height: 240px;
}
.app-bar.active .rewards li:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 16px;
}
.app-bar.active .rewards li a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  padding: 16px;
}

/*  */
@media screen and (max-width: 768px) {
  .app-bar {
    position: fixed;
    top: 100px;
    left: 0;
    height: calc(100vh - 100px);
    transform: translateX(-100%);
  }
  .app-bar.active {
    transform: translateX(0);
  }
}
@media screen and (max-width: 576px) {
  .app-bar.active {
    width: 100%;
  }
}
