* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  overflow-x: hidden;
  background: url(../images/background.webp) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter.ttf) format("truetype");
}
@font-face {
  font-family: "Golos";
  src: url(../fonts/Golos.ttf) format("truetype");
}
@font-face {
  font-family: "Tourney";
  src: url(../fonts/Tourney.ttf) format("truetype");
}
@font-face {
  font-family: "Arcade";
  src: url(../fonts/Arcade.TTF) format("truetype");
}
:root {
  --inter: "Inter", sans-serif;
  --golos: "Golos", sans-serif;
  --background: #151518;
  --yellow: #fac42d;
  --green: #3bff97;
  --red: #fe4554;
  --grey: #fff3;
  --discord: #6779fa;
  --purple: #aa1ec9;
  --transition: 0.5s all ease-in-out;
  --radius: 8px;
}
img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.button {
  border: none;
  border-radius: 8px;
  background: transparent;
  outline: none;
  padding: 8px 24px;
  text-transform: uppercase;
  transition: var(--transition);
}
.yellow-button {
  background: var(--yellow);
  color: #000;
}
.green-button {
  background: var(--green);
  color: #000;
}
.red-button {
  background: var(--red);
  color: #fff;
}
.discord-button {
  background: var(--discord);
  color: #fff;
}
.purple-button {
  background: var(--purple);
  color: #fff;
}
.white-button {
  color: #fff;
}
.white-button:hover {
  background: #fff;
  color: #000;
}
.input {
  outline: none;
  border: none;
  width: 100%;
  padding: 8px;
  border-radius: var(--radius);
  border: 1px solid #fff3;
  background: #232427;
  color: #fff;
}
.input i::placeholder {
  color: #4f5052;
}
ul {
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 60px;
  margin: 0;
  color: #fff;
}
h2 {
  font-size: 32px;
  margin: 0;
  color: #fff;
  font-family: "Golos";
}
h3 {
  font-size: 24px;
  margin: 0;
  color: #fff;
  font-family: "Golos";
}
p,
a,
li,
label,
input,
button,
textarea,
th,
td {
  font-size: 14px !important;
  color: #fff;
  font-family: "Inter";
  margin: 0;
}
.yellow-text {
  color: var(--yellow);
}
.green-text {
  color: var(--green);
}
.red-text {
  color: var(--red);
}
.purple-text {
  color: var(--purple);
}
.discord-text {
  color: var(--discord);
}
a {
  text-decoration: none;
}
.center-div {
  max-width: 1200px;
  flex-grow: 1;
  min-width: 0;
  overflow: hidden;
  transition: var(--transition);
  padding: 8px;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.glass {
  background: #7979794d;
  backdrop-filter: blur(5px);
  border-radius: var(--radius);
  border: 1px solid #ffffff2e;
  color: #fff;
}
.tourney-font {
  font-family: "Tourney";
}
.text-secondary {
  color: #9ca3af !important;
}
.icon-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.main-div {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
