.leaderboard-title h1 {
  font-family: "Arcade";
  text-align: center;
  color: var(--green) !important;
}
.leaderboard-timer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.leaderboard-timer p {
  text-transform: uppercase;
  font-weight: bold;
}
.winner-stage {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  row-gap: 40px !important;
  flex-wrap: wrap;
}
.winner-card-wrapper {
  width: 100%;
  max-width: 220px;
  height: 300px;
  padding: 1px;
  border-radius: var(--radius);
}
.winner-stage .winner-card-wrapper:nth-child(1) {
  background: linear-gradient(var(--yellow), transparent);
}
.winner-stage .winner-card-wrapper:nth-child(2) {
  background: linear-gradient(var(--green), transparent);
}
.winner-stage .winner-card-wrapper:nth-child(3) {
  background: linear-gradient(var(--red), transparent);
}
.winner-card {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  padding: 16px;
  position: relative;
  /*  */
  background: #151518;
  border-radius: var(--radius);
}
.winner-card i {
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -80%);
}
.winner-stage .winner-card-wrapper:nth-child(1) i {
  color: var(--yellow);
}
.winner-stage .winner-card-wrapper:nth-child(2) i {
  color: var(--green);
}
.winner-stage .winner-card-wrapper:nth-child(3) i {
  color: var(--red);
}
.winner-card img {
  width: 60px;
  height: 60px;
  border-radius: 20px;
  aspect-ratio: 1;
  margin: 0 auto;
  display: block;
}
.winner-stage .winner-card-wrapper:nth-child(1) img {
  border: 4px solid var(--yellow);
}
.winner-stage .winner-card-wrapper:nth-child(2) img {
  border: 4px solid var(--green);
}
.winner-stage .winner-card-wrapper:nth-child(3) img {
  border: 4px solid var(--red);
}
.winner-card h3,
.winner-card p {
  font-family: "Golos";
}
.winner-stage .winner-card-wrapper:nth-child(1) h3 {
  color: var(--yellow);
}
.winner-stage .winner-card-wrapper:nth-child(2) h3 {
  color: var(--green);
}
.winner-stage .winner-card-wrapper:nth-child(3) h3 {
  color: var(--red);
}
.winner-table-head,
.winner-table-body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 800px;
  margin: 0 auto;
}
.winner-table-head > div {
  display: flex;
  align-items: start;
  justify-content: flex-start;
  gap: 8px;
}
.winner-table-head i {
  color: var(--green);
}
.winner-table-head p {
  text-transform: uppercase;
  font-weight: bold;
}
.winner-table-body {
  margin-bottom: 8px;
}
.winner-table-body > div {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: start;
  border-radius: 0;
  border-left: unset;
  border-right: unset;
}
.winner-table-body > div:first-child {
  padding-left: 8px;
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
}
.winner-table-body > div:last-child {
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}
.winner-table-body > div:first-child p {
  width: 50px;
  height: 30px;
  border: 1px solid var(--red);
  border-radius: var(--radius);
  display: grid;
  place-items: center;
  background: #de4c585f;
}
.winner-table-body > div:nth-child(1),
.winner-table-head > div:nth-child(1) {
  min-width: 100px;
  max-width: 100px;
}
.winner-table-body > div:nth-child(2),
.winner-table-head > div:nth-child(2) {
  min-width: 300px;
  max-width: 300px;
}
.winner-table-body > div:nth-child(3),
.winner-table-body > div:nth-child(4),
.winner-table-head > div:nth-child(3),
.winner-table-head > div:nth-child(4) {
  min-width: 200px;
  max-width: 200px;
}
