<nav class="nav-bar">
  <button class="button menu">
    <i class="fa-solid fa-bars"></i>
  </button>

  <div class="nav-bar-inner">
    <div class="nav-logo">
      <img src="../../assets/images/logo.webp" alt="" />
    </div>

    <div class="nav-bar-buttons">
      <button class="button login-button">Login</button>
      <button class="button register-button">Register</button>
      <button class="button message-button">
        <i class="fa-solid fa-message"></i>
      </button>
    </div>
  </div>
</nav>

<ul class="nav-bar2">
  <li>
    <i class="fa-solid fa-bars"></i>
    Menu
  </li>
  <li>
    <i class="fa-solid fa-house"></i>
    Home
  </li>
  <li>
    <i class="fa-solid fa-message"></i>
    Chat
  </li>
  <li>
    <i class="fa-solid fa-gear"></i>
    Settings
  </li>
</ul>
