<div class="app-bar active" id="app-bar">
  <a href="../index.html" class="app-bar-btn home-btn">
    <i class="fa-solid fa-home"></i>
    <span>Home</span>
  </a>
  <a class="app-bar-btn gamedom-btn">
    <i class="fa-solid fa-chess-rook"></i>
    <span>Gamedon</span>
  </a>
  <a class="app-bar-btn discord-btn">
    <i class="fa-brands fa-discord"></i>
    <span>Discord</span>
  </a>
  <a href="../contact.html" class="app-bar-btn contact-btn">
    <i class="fa-solid fa-envelope"></i>
    <span>Contact</span>
  </a>

  <ul class="rewards" id="rewards">
    <li><i class="fa-solid fa-arrow-up"></i>Rewards</li>

    <li>
      <a href=""
        ><i class="fa-solid fa-volume-low"></i> <span>Promotions</span></a
      >
    </li>
    <li>
      <a href=""><i class="fa-solid fa-crown"></i> <span>Leaderboard</span></a>
    </li>
    <li>
      <a href=""><i class="fa-solid fa-gift"></i> <span>Bonuses</span></a>
    </li>
    <li>
      <a href=""><i class="fa-solid fa-shop"></i> <span>Points shop</span></a>
    </li>
    <li>
      <a href=""><i class="fa-solid fa-ticket"></i> <span>Raffles</span></a>
    </li>
  </ul>
</div>
