<div class="app-bar">
  <a class="app-bar-btn home-btn">
    <i class="fa-solid fa-home"></i>
    Home
  </a>
  <a class="app-bar-btn gamedom-btn">
    <i class="fa-solid fa-chess-rook"></i>
    Gamedon
  </a>
  <a class="app-bar-btn discord-btn">
    <i class="fa-brands fa-discord"></i>
    Discord
  </a>
  <a class="app-bar-btn contact-btn">
    <i class="fa-solid fa-envelope"></i>
    Contact
  </a>

  <ul class="rewards">
    <li><i class="fa-solid fa-arrow-up"></i>Rewards</li>

    <li>
      <a href=""><i class="fa-solid fa-volume-low"></i> Promotions</a>
    </li>
    <li>
      <a href=""><i class="fa-solid fa-crown"></i> Leaderboard</a>
    </li>
    <li>
      <a href=""><i class="fa-solid fa-gift"></i> Bonuses</a>
    </li>
    <li>
      <a href=""><i class="fa-solid fa-shop"></i> Points shop</a>
    </li>
    <li>
      <a href=""><i class="fa-solid fa-ticket"></i> Raffles</a>
    </li>
  </ul>
</div>
