<footer>
  <div class="footer-top-flex">
    <div>
      <img src="../images/logo.webp" class="footer-logo" alt="" />
      <p>&copy; 2025 17Noir.com | All Rights Reserved</p>
    </div>
    <div class="links-wrapper">
      <div>
        <h3 class="fw-bold mb-2">About</h3>
        <ul>
          <li>
            <a href="#">FAQ</a>
          </li>
          <li>
            <a href="#">Terms of Services</a>
          </li>
          <li>
            <a href="#">Privacy Policy</a>
          </li>
        </ul>
      </div>
      <div>
        <h3 class="fw-bold mb-2">Explore</h3>
        <ul>
          <li>
            <a href="#">Store</a>
          </li>
          <li>
            <a href="#">Promotions</a>
          </li>
          <li>
            <a href="#">Guessing</a>
          </li>
        </ul>
      </div>
      <div>
        <h3 class="fw-bold mb-2">Originals</h3>
        <ul>
          <li>
            <a href="#">Mines</a>
          </li>
          <li>
            <a href="#">Roulette</a>
          </li>
          <li>
            <a href="#">Dice</a>
          </li>
          <li>
            <a href="#">Limbo</a>
          </li>
        </ul>
      </div>
      <div>
        <h3 class="fw-bold mb-2">Socials</h3>
        <ul>
          <li>
            <a href="#" class="icon-text twitter"
              ><i class="fa-brands fa-x-twitter"></i>Twitter</a
            >
          </li>
          <li>
            <a href="#" class="icon-text instagram"
              ><i class="fa-brands fa-instagram"></i>Instagram</a
            >
          </li>
          <li>
            <a href="#" class="icon-text kick"
              ><i class="fa-brands fa-kickstarter-k"></i>Kick</a
            >
          </li>
          <li>
            <a href="#" class="icon-text discord"
              ><i class="fa-brands fa-discord"></i>Discord</a
            >
          </li>
          <li>
            <a href="#" class="icon-text facebook"
              ><i class="fa-brands fa-facebook"></i>Facebook</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-bottom-flex">
    <div class="gamble-aware">
      <img src="../images/gamble-aware.webp" alt="" />
    </div>
    <div>
      <p class="text-secondary">
        Most people gamble for fun and enjoyment. Do not think of gambling as a
        way to make money. Only gamble with money you can afford to lose. Set a
        money and time limit in advance. Never chase your losses. Don't use
        gambling to distract yourself from everyday problems. By using this
        website, you agree to the Terms of Service and Privacy Policy
      </p>
    </div>
  </div>
</footer>
