<div class="home-accordion-wrapper">
  <div class="home-accordion-head">
    <p class="fw-bold icon-text">
      <i class="fa-solid fa-comments yellow-text"></i>
      Lorem ipsum dolor sit amet.
    </p>
    <div class="accordion-arrow">
      <i class="fa-solid fa-arrow-down"></i>
    </div>
  </div>

  <div class="home-accordion-body">
    <p class="mb-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio,
      cumque.
    </p>

    <ul class="ms-4 mb-4">
      <li>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        <p class="text-secondary">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Est veniam
          sit assumenda eos maxime dolore inventore cum aperiam quos quia
          molestiae consequuntur nam ipsum nisi ab maiores soluta, autem
          debitis.
        </p>
      </li>
    </ul>
    <ul class="ms-4 mb-4">
      <li>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        <p class="text-secondary">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Est veniam
          sit assumenda eos maxime dolore inventore cum aperiam quos quia
          molestiae consequuntur nam ipsum nisi ab maiores soluta, autem
          debitis.
        </p>
      </li>
    </ul>
  </div>
</div>
<div class="home-accordion-wrapper">
  <div class="home-accordion-head">
    <p class="fw-bold icon-text">
      <i class="fa-solid fa-comments yellow-text"></i>
      Lorem ipsum dolor sit amet.
    </p>
    <div class="accordion-arrow">
      <i class="fa-solid fa-arrow-down"></i>
    </div>
  </div>

  <div class="home-accordion-body">
    <p class="mb-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio,
      cumque.
    </p>

    <ul class="ms-4 mb-4">
      <li>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        <p class="text-secondary">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Est veniam
          sit assumenda eos maxime dolore inventore cum aperiam quos quia
          molestiae consequuntur nam ipsum nisi ab maiores soluta, autem
          debitis.
        </p>
      </li>
    </ul>
    <ul class="ms-4 mb-4">
      <li>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        <p class="text-secondary">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Est veniam
          sit assumenda eos maxime dolore inventore cum aperiam quos quia
          molestiae consequuntur nam ipsum nisi ab maiores soluta, autem
          debitis.
        </p>
      </li>
    </ul>
  </div>
</div>
<div class="home-accordion-wrapper">
  <div class="home-accordion-head">
    <p class="fw-bold icon-text">
      <i class="fa-solid fa-comments yellow-text"></i>
      Lorem ipsum dolor sit amet.
    </p>
    <div class="accordion-arrow">
      <i class="fa-solid fa-arrow-down"></i>
    </div>
  </div>

  <div class="home-accordion-body">
    <p class="mb-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio,
      cumque.
    </p>

    <ul class="ms-4 mb-4">
      <li>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        <p class="text-secondary">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Est veniam
          sit assumenda eos maxime dolore inventore cum aperiam quos quia
          molestiae consequuntur nam ipsum nisi ab maiores soluta, autem
          debitis.
        </p>
      </li>
    </ul>
    <ul class="ms-4 mb-4">
      <li>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        <p class="text-secondary">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Est veniam
          sit assumenda eos maxime dolore inventore cum aperiam quos quia
          molestiae consequuntur nam ipsum nisi ab maiores soluta, autem
          debitis.
        </p>
      </li>
    </ul>
  </div>
</div>
