<nav class="nav-bar">
  <button class="button menu menu-btn">
    <i class="fa-solid fa-bars"></i>
  </button>

  <div class="nav-bar-inner">
    <div class="nav-logo">
      <img src="../images/logo.webp" alt="" />
    </div>

    <div class="nav-bar-buttons">
      <button
        class="button white-button register-open"
        data-modal-target="login"
      >
        Login
      </button>
      <button
        class="button yellow-button register-open"
        data-modal-target="register"
      >
        Register
      </button>
      <button class="button message-button chat-bar-button">
        <i class="fa-solid fa-message"></i>
      </button>
    </div>
  </div>
</nav>

<ul class="nav-bar2">
  <li class="menu-btn">
    <i class="fa-solid fa-bars"></i>
    Menu
  </li>
  <li>
    <i class="fa-solid fa-house"></i>
    Home
  </li>
  <li class="chat-bar-button">
    <i class="fa-solid fa-message"></i>
    Chat
  </li>
  <li>
    <i class="fa-solid fa-gear"></i>
    Settings
  </li>
</ul>

<div class="register-modal-wrapper" id="register-modal-wrapper">
  <div class="register-modal-background"></div>
  <div class="register-modal" id="register-modal">
    <div class="register-left">
      <img src="../images/register-modal.jpg" alt="" />
    </div>

    <div class="register-right">
      <button class="button register-close" id="register-close">
        <i class="fa-solid fa-xmark"></i>
      </button>

      <div class="register-tab">
        <button class="button register-tab-button active">Register</button>
        <button class="button register-tab-button">Login</button>
      </div>

      <form class="signup d-flex" id="signup">
        <div>
          <label>Username</label>
          <div class="input mt-2">
            <div>
              <i class="fa-solid fa-user"></i>
            </div>
            <input
              type="text"
              placeholder="Enter username (3-26 characters)"
              autocomplete="off"
            />
          </div>
        </div>
        <div>
          <label>Email</label>
          <div class="input mt-2">
            <div>
              <i class="fa-solid fa-envelope"></i>
            </div>
            <input
              type="email"
              placeholder="Enter email address"
              autocomplete="off"
            />
          </div>
        </div>
        <div>
          <label>Password</label>
          <div class="input mt-2">
            <div>
              <i class="fa-solid fa-lock"></i>
            </div>
            <input
              type="password"
              placeholder="Enter password (6-26 characters)"
              autocomplete="off"
              class="password-input"
              data-input="create-password"
            />
            <div class="show-password" data-input-target="create-password">
              <i class="fa-solid fa-eye"></i>
            </div>
          </div>
        </div>
        <div>
          <label>Confirm Password</label>
          <div class="input mt-2">
            <div>
              <i class="fa-solid fa-lock"></i>
            </div>
            <input
              type="password"
              placeholder="Confirm password"
              autocomplete="off"
              class="password-input"
              data-input="confirm-password"
            />
            <div class="show-password" data-input-target="confirm-password">
              <i class="fa-solid fa-eye"></i>
            </div>
          </div>
        </div>
        <button class="button signup-button">Create account</button>
      </form>

      <form class="login d-none" id="login">
        <div>
          <label>Username</label>
          <div class="input mt-2">
            <div>
              <i class="fa-solid fa-user"></i>
            </div>
            <input
              type="text"
              placeholder="Enter username (3-26 characters)"
              autocomplete="off"
            />
          </div>
        </div>
        <div>
          <label>Password</label>
          <div class="input mt-2">
            <div>
              <i class="fa-solid fa-lock"></i>
            </div>
            <input
              type="password"
              placeholder="Enter your password"
              autocomplete="off"
              class="password-input"
              data-input="enter-password"
            />
            <div class="show-password" data-input-target="enter-password">
              <i class="fa-solid fa-eye"></i>
            </div>
          </div>
        </div>
        <button class="button signup-button">Login</button>
      </form>

      <div class="text-center">
        <p style="font-size: 12px">
          By signing in, you are agreeing to our Terms of Service and Privacy
          Policy. General prohibited users using multiple accounts, completing
          offers on another user's account, or using any type of VPN, VPS, or
          Emulator software.
        </p>
      </div>
    </div>
  </div>
</div>
